<!DOCTYPE html>
<html>
<head>
    <title>Cat Gallery</title>
</head>
<body>
<h1>Changed s3</h1>
<h1>Cat Gallery</h1>
<p>Welcome to our cat gallery! We have some of the most adorable cats you'll ever see. Check them out below:</p>
<div>
    <img src="https://website-hosting-example132.s3.amazonaws.com/cute-cat-photos-1593441022.jpg" alt="Cat Photo 1" width="300px">
    <img src="https://website-hosting-example132.s3.amazonaws.com/pexels-pixabay-45201.jpg" alt="Cat Photo 2" width="300px">
    <img src="https://website-hosting-example132.s3.amazonaws.com/photo-1608848461950-0fe51dfc41cb.jpg" alt="Cat Photo 3" width="300px">
</div>
<p>Thanks for checking out our cat gallery. We hope you enjoyed the photos and the cat praise!</p>
</body>
</html>